# Set the default handler.
DirectoryIndex index.php

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

## Caching ##

# Remove ETags, caching is done via filenames and Expires
FileETag None
# Use by default an expire date in the far future
<IfModule mod_expires.c>
    ExpiresActive On
	ExpiresDefault "access plus 10 years"
</IfModule>

## Output compression ##

<IfModule mod_defalte.c>
	SetOutputFilter DEFLATE
	
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript css
	
	# old browser aren't supported
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html 
</IfModule>


