/** week-matrix **/

.schoorbs-week-matrix {
	text-align: center;
	margin-left:auto; 
	margin-right:auto;
}
.schoorbs-week-matrix-free a {
	background-color: #0d0;
	display: block;
	min-width: 35px;
}
.schoorbs-week-matrix-free a:hover {
	background-color: #0f0;
}
.schoorbs-week-matrix-booked a:hover {
	background-color: #f00;
}
.schoorbs-week-matrix-booked a {
	background-color: #d00;
	display: block;
	min-width: 35px;
}
.schoorbs-week-matrix-time {
	min-width: 40px;
}

/** day-matrix **/

.schoorbs-day-matrix {
	text-align: center;
	margin-left:10px; 
	margin-right:10px;
	width: 100%;
}

.schoorbs-day-matrix-time {
	min-width: 10px;
	width: 10px;
}

.schoorbs-day-matrix-free a {
	background-color: #0d0;
	display: block;
}
.schoorbs-day-matrix-free a:hover {
	background-color: #0f0;
}
.schoorbs-day-matrix-booked a:hover {
	background-color: #f00;
	color: white;
}
.schoorbs-day-matrix-booked a {
	background-color: #d00;
	display: block;
	color: white;
}


/** misc **/

#schoorbs-loginbox {
	float: right;
	background-color:#6699FF;
	font-size: 50%;
	margin: 0px 2px 0px 0px;
	padding: 4px 10px 4px 10px;
	color: #FFFFFF;
	background-color:#6699FF;
	font-weight: normal;
	text-decoration: none;
}

#schoorbs-loginbox-button {
	display: inline;
}

#schoorbs-loginbox-username {
	display: inline;
}

#schoorbs-loginbox form {
	display: inline;
}

#schoorbs-loginbox input {
	border: 1px solid #3366CC;
	font-size: 85%;
}

/** Administration accordion **/

#schoorbs-administration-accordion .ui-accordion-primary-list {
	list-style: none;
	margin: 0px;
}

#schoorbs-administration-accordion .ui-accordion-link {
	display: block;
	background-color: blue;
	color: #FFFFFF;
	font-weight: bold;
	margin: 0px;
	padding: 5px 10px 5px 10px;
	background-color: #6699FF;
	border: 2px solid #3366CC;
}

#schoorbs-administration-accordion .ui-accordion-link:hover {
	background-color:#3366CC;
	border: 2px solid #6699FF;
}

#schoorbs-administration-accordion .ui-accordion-data {
	font-family:Arial, sans-serif;
	color: #333333;
	background:#E6ECFF;
	padding:5px 10px 10px 10px;
	margin:15px 0px 15px 0px;
	margin: 0px;
	border: #0066CC solid thin;
}

#schoorbs-administration-accordion .ui-accordion-data a {
	background:#E6ECFF;	
}

#schoorbs-administration-add-area .head {
	display: block;
	background-color: blue;
	color: #FFFFFF;
	font-weight: bold;
	margin: 0px;
	padding: 5px 10px 5px 10px;
	background-color: #6699FF;
	border: 2px solid #3366CC;
}

#schoorbs-administration-add-area .head:hover {
	background-color:#3366CC;
	border: 2px solid #6699FF;
}

#schoorbs-administration-add-area .form {
	font-family:Arial, sans-serif;
	color: #333333;
	background:#E6ECFF;
	padding:5px 10px 10px 10px;
	margin:15px 0px 15px 0px;
	margin: 0px;
	border: #0066CC solid thin;
}

#schoorbs-centeredbox {
	border: 1px solid #aaa;
	margin: 50px auto;
	width: 420px;
	padding: 4px;
	background-color: #f0f0f0;
	color: #000;
}

#schoorbs-centeredbox .headline {
	font-weight: bold;
	font-size: 1.2em;
}

#schoorbs-centeredbox .form {
	text-align: center;
}

#schoorbs-centeredbox label {
	display: inline-block;
	width: 100px;
}

#schoorbs-yes-no-box {
	border: 1px solid #aaa;
	margin: 50px auto;
	width: 420px;
	padding: 4px;
	background-color: #f0f0f0;
	color: #000;
	text-align: center;
}

#schoorbs-yes-no-box .question {
	font-weight: bold;
	font-size: 1em;
}

#schoorbs-yes-no-box .yes-no {
	border: 1px solid #aaa;
	background-color: #f0f0f0;
	text-align: center;
	color: #000;
	padding: 0 20px;
}

#schoorbs-yes-no-box .yes-no:hover {
	border: 1px solid #000;
	background-color: #fff;
}

#schoorbs-goto-next-week {
	float: right;
	padding: 0 20px;
}
