.rot         {color:#FF0000;}
.blau        {color:#0000FF;}
.tab1        {padding:5px;border-spacing:3px;}
.tab1 td     {background-color:#DDDDDD;padding:3px;}
pre          {background-color:#FFFFE0;padding:10px;}
html {padding: 0px; margin: 0px;}
body {
  background-color: #FFFFFF;
  font-size: 12px;
  font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  padding:0px 20px;
  margin:0px;
}
#menu_logo {
	position: absolute;
	/*width: 240px;*/
    min-width: 240px;
    max-width: 50%;
	left: 20px;
	padding:0px;
	margin:0px;
}
#menu {
  padding-left: 240px;
  font-size: 14px;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}
#menu_subpanel {
	position: relative;
	left: 50px;
}
#menu_selector {
	border: solid 1px black;
	display: inline;
	padding: 5px;
}
#menu_searchbox {
	border: solid 1px black;
	display: inline;
	padding: 5px;
}
a {text-decoration: none; color: blue;}
a:hover {
	text-decoration: underline;
	color: red;
}
a.headerLink {
	color: black; 
	/*font-weight: bold;*/
	font-size: 20px;
}
form {display: inline;}
td.banner {
	vertical-align: middle;
	color: white;
	background-color: #7799FF !important;
	border: dashed black 2px;
}
img {border: 0px;}
img.menu_icon {
	position: relative;
	top: 5px;
}
h1 {color:black; font-family:verdana,sans-serif; font-size:16pt}
h2 {color:black; font-family:verdana,sans-serif; font-size:14pt}
h3 {font-family:verdana,sans-serif}

td {font-size:10pt; font-family:arial,sans-serif; border-width:1px;
vertical-align:top}
TD.header {color:black; font-family:verdana,sans-serif; border-width:0;
background-color:#ffffdd; font-size:26pt}
TD.CR { vertical-align: middle; text-align: right}
TD.CL { vertical-align: middle; text-align: left}
TD.BR { vertical-align: baseline; text-align: right}
TD.BL { vertical-align: baseline; text-align: left}
TD.TR { vertical-align: top; text-align: right}
TD.TL { vertical-align: top; text-align: left}

td form { margin:0; } /* Prevent IE from displaying margins around forms in tables.*/

td.unallocated {color:gray}
td.allocated {color:black}
A:link.unallocated {color:#9BA9E6}
A:link.allocated {color:#5B69A6}

A:hover.unallocated {color:red}
A:hover.allocated {color:red}

A.blue {color:blue}
A:visited.blue {color:blue}
A:hover.blue {color:red}

.blue {background-color:#F0F0FF}
.red  {background-color:#FFF0F0}
.green {background-color:#DDFFDD}
.A {background-color:#FFCCFF}
.B {background-color:#99CCCC}
.C {background-color:#FF9999}
.D {background-color:#FFFF99}
.E {background-color:#C0E0FF}
.F {background-color:#FFCC99}
.G {background-color:#FF6666}
.H {background-color:#66FFFF}
.I {background-color:#DDFFDD}
.J {background-color:#CCCCCC}
.white {background-color:white}

td.calendar { border:0px; font-size: 8pt}
td.calendarHeader {border:0px; font-size: 10pt}
.calendarHighlight {color: red}
td.even_row {background-color:#FFFFFF}	/* Even rows in the day view */
td.odd_row {background-color:#EEEEEE;}	/* Odd rows in the day view */

.highlight {  /* The highlighted cell under the cursor */
	background-color: #AABBFF !important; 
}
.naked { margin: 0px; padding: 0px; border-width:0px} /* Invisible tables used for internal needs */
TD.month {font-size: 8pt; background-color:#FFFFFF}
.monthday {font-size: 12pt; vertical-align: top; text-align: left}


.calendar-wrapper {
    margin: 0px 10px;
    padding: 0px 10px;
}

th {
    color: black;
    background-color: silver;
    border: 0px;
}
th a {
    color: black;
}
td.red {
    border: 0px;
    background-color: #ddd;
}
td.red a {
    color: black;
}

#arealist {
  width: 200px;
}

#arealist-title {
    margin-bottom: 5px;
    font-weight: bold; 
    font-size: medium; 
    color: black;
    text-decoration: underline;
}

#roomlist {
  width: 200px;
}

#roomlist-title {
    margin-bottom: 5px;
    font-weight: bold; 
    font-size: medium; 
    color: black;
    text-decoration: underline;
}