/***************************************************************************
*                                                                          *
* contented6 - An open source xhtml/css website template by Contented      *
* Designs.  You're free to modify it and use it for any purpose without    *
* cost or obligation. We'd prefer that you leave the link to our website   *
* in the footer but it's not required.                                     *
*                                                                          *
* If you have comments or questions, please contact us at                  *
* http://www.ContentedDesigns.com. Thanks!                                 *
*                                                                          *
* Version: 1.01 (May 17, 2006)                                             *
***************************************************************************/

* {
	padding:0;
	margin:0;
}

body {
	color: #333333;
	background-color:#FFFFFF;
        font-family:Verdana,Tahoma,Arial,sans-serif;
	font-size:83%;
	margin:20px auto;
	width:860px;
	padding-left:10px;
	padding-right:10px;
}

.highlight {
	font-family:'Courier New',Verdana,Tahoma,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, 
fieldset, address { margin:0.75em 0;}

h1 {font-size:167%;}

h2 {font-size:139%;}

h3 {font-size:120%;}

h4 {font-size:100%;}

li, dd { 
	margin-left:2em;
}

a {
	color: #0066CC;
	background-color: #FFFFFF;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	color: #0000FF;
	background-color: #E6ECFF;
	font-weight: normal;
	text-decoration: none;
}

#header {
	color: #FFFFFF;
	background-color:#3366CC;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}


#title {
	color: #FFFFFF;
	background-color:#3366CC;
	font-size:200%;
	font-weight: normal;
	padding:10px 0px 0px 20px;
	margin:0px 0px 0px 0px;
	float:left;
	width:840px;
}

ul#nav {
	clear:both;
	float:left;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	list-style: none;
	width:100%;
	color:#FFFFFF;
	background-color:#3366CC;
}

ul#nav li {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: right;
}

ul#nav li a {
	display: block;
	margin: 0px 2px 0px 0px;
	padding: 5px 10px 5px 10px;
	color: #FFFFFF;
	background-color:#6699FF;
	font-weight: normal;
	text-decoration: none;
}

ul#nav li a:hover { 
	border-bottom:3px solid #FFFFFF;
}

ul#nav a.selected { 
	border-bottom:3px solid #FFFFFF;
}

#slogan {
	color: #FFFFFF;
	background-color:#6699FF;
	width:840px;
	clear:both;
	float:left;
	font-size:100%;
	font-style:normal;
	font-weight: normal;
	padding:4px 0px 2px 20px;
	margin:6px 0px 0px 0px;
}

#content {
	font-size:100%;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	width:860px;
	float:left;
	border-top:5px solid #6699FF;
}

#maincontent {
	font-size:100%;
	padding:0px 5px 5px 0px;
	margin:0px 0px 0px 0px;
	width:640px;
	float:left;
}

#sidecontent {
	font-family:Arial, sans-serif;
	color: #333333;
	background:#E6ECFF;
	font-size:85%;
	padding:5px 10px 10px 10px;
	margin:15px 0px 15px 0px;
	width:180px;
	float:right;
	border: #0066CC solid thin;
}

#sidecontent a.schoorbs {
	color: #0066CC;
	background:#E6ECFF;
}

#sidecontent a.schoorbs:hover {
	color: #0000FF;
	background: #D6DCDF;
}

#sidecontent h2 { margin:0.75em 0.25em 0.25em 0em;}

#sidecontent ul { margin:0.25em 0.25em 0.25em 0.25em;}

#sidecontent p { margin:0em 0em 0em 0em;}

#nullblock {} /* Used to avoid IE jump on hover bug */

#footer {
	height:40px;
	color:#333333;
	background-color:#FFFFFF;
	border-top:6px solid #6699FF;
	font-size:85%;
	width: 860px;
	clear:both;
}

#footer	a {
	color:#0066CC;
	background-color:#FFFFFF;
	font-weight: normal;
	text-decoration: none;
}

#footer	a:hover {
	color:#0000FF;
	background-color:#E6ECFF;
	font-weight: normal;
	text-decoration: none;
}

#copyrightdesign {
	color:#666666;
	background-color:#FFFFFF;
	padding:5px 20px 5px 0px;
	width: 580px;
	float:left;
}

#footercontact {
	color:#0066CC;
	background-color:#FFFFFF;
	padding:5px 0px 5px 0px;
	float:right;
}

#footercontent a {
	color: #0066CC;
	background-color:#FFFFFF;
	font-weight: normal;
	text-decoration: none;
}

#footercontent a:hover {
	color: #0000FF;
	background-color: #E6ECFF;
	font-weight: normal;
	text-decoration: none;
}

